@model LiberDent.Data.Data.CMS.DaneOPersonelu

@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>Szczegóły</h6>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zdjecie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zdjecie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TytulNaukowy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TytulNaukowy.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stanowiska)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stanowiska.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.IdDaneOPersonelu">Edytuj</a> |
    <a class="btn btn-outline-secondary" asp-action="Index">Powrót do listy</a>
</div>
