@model IEnumerable<LiberDent.Data.Data.CMS.DaneOPersonelu>

@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>Lista</h6>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Utwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zdjecie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TytulNaukowy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stanowiska)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zdjecie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TytulNaukowy.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stanowiska.Nazwa)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.IdDaneOPersonelu">Edytuj</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.IdDaneOPersonelu">Szczegóły</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdDaneOPersonelu">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
