@model IEnumerable<LiberDent.Data.Data.CMS.Kontakt>

@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>Lista</h6>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Utwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TytułKontakt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerTelefonu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazwaTelefonu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrescKontaktu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PozycjaWyswietlania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzyAktywny)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TytułKontakt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumerTelefonu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazwaTelefonu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrescKontaktu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PozycjaWyswietlania)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CzyAktywny)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.IdKontaktu">Edytuj</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.IdKontaktu">Szczegóły</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdKontaktu">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
