@model IEnumerable<LiberDent.Data.Data.Slownikowe.RodzajeWizyty>

@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>Lista</h6>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Utwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.IdRodzajeWizyty">Edytuj</a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.IdRodzajeWizyty">Szczegóły</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdRodzajeWizyty">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
