@model LiberDent.PortalWWW.Models.ManageViewModel.MojeWizytyViewModel
@{
    ViewData["Title"] = "Moje wizyty";
    ViewData.AddActivePage(ManageNavPages.Wizyty);
    Layout = "~/Views/Manage/_Layout.cshtml";
    var aktualne = Model.UmowioneWizyty.Where(c => c.DataWizyty >= DateTime.Now).OrderBy(c=>c.DataWizyty).ThenBy(c=>c.GodzinaWizyty);
    var przeszle = Model.UmowioneWizyty.Where(c => c.DataWizyty < DateTime.Now).OrderByDescending(c=>c.DataWizyty).ThenByDescending(c=>c.GodzinaWizyty);
}
<script>
    function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
<style>
    /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
<h6 class="title">@ViewData["Title"]</h6>
    <div style="margin-top:10px;">
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Aktualne')">Aktualne wizyty</button>
            <button class="tablinks" onclick="openCity(event, 'Przeszle')">Historia wizyt</button>
        </div>

        <!-- Tab content -->
        <div id="Aktualne" class="tabcontent">
            <table>
                <thead>
                    <tr>
                        <td>Data</td>
                        <td>Godzina</td>
                        <td>Lekarz</td>
                        <td>Rodzaj wizyty</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in aktualne)
                    {
                        <tr>
                            <td>@item.DataWizyty.ToString("dd-MM-yyyy")</td>
                            <td>
                                @item.GodzinaWizyty.Hours : @if (item.GodzinaWizyty.Minutes == 0) {@:00
                                                        }</td>
                            <td>@item.DaneLekarza.Uzytkownik.Dane.Imie @item.DaneLekarza.Uzytkownik.Dane.Nazwisko</td>
                            <td>@item.RodzajeWizyty.Nazwa</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="Przeszle" class="tabcontent">
            <table>
                <thead>
                    <tr>
                        <td>Data</td>
                        <td>Godzina</td>
                        <td>Lekarz</td>
                        <td>Rodzaj wizyty</td>
                        <td>Informacje</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in przeszle)
                    {
                        @if (item.CzyPacjentByl == false)
                        {
                            <tr style="background-color:red">
                                <td>@item.DataWizyty.ToString("dd-MM-yyyy")</td>
                                <td>
                                    @item.GodzinaWizyty.Hours : @if (item.GodzinaWizyty.Minutes == 0){@:00
                                                                }</td>
                                <td> @item.DaneLekarza.Uzytkownik.Dane.Imie @item.DaneLekarza.Uzytkownik.Dane.Nazwisko</td>
                                <td>@item.RodzajeWizyty.Nazwa</td>
                                <td>Nie wstawiłeś się na wizytę!</td>
                            </tr>
                        }
                        else
                        {
                            <tr style="background-color:blue">
                                <td>@item.DataWizyty.ToString("dd-MM-yyyy")</td>
                                <td>@item.GodzinaWizyty.Hours : @if (item.GodzinaWizyty.Minutes == 0) { @:00 
                                                                                                        }</td>
                                <td>@item.DaneLekarza.TytulNaukowy.Nazwa @item.DaneLekarza.Uzytkownik.Dane.Imie @item.DaneLekarza.Uzytkownik.Dane.Nazwisko</td>
                                <td>@item.RodzajeWizyty.Nazwa</td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
