@model LiberDent.Data.Data.CMS.Powitanie

@{
    ViewData["Title"] = "Usuń";
}

<h6>Usuń</h6>

<h6>Jesteś pewien, że chcesz to usunąć?</h6>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaglowekPowitalny)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaglowekPowitalny)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrescPowitalna1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrescPowitalna1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrescPowitalna2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrescPowitalna2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CzyAktywny)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CzyAktywny)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPowitania" />
        <input type="submit" value="Usuń" class="btn btn-outline-danger" /> |
        <a class="btn btn-outline-secondary" asp-action="Index">Powrót do listy</a>
    </form>
</div>
