@model LiberDent.Data.Data.CMS.Powitanie

@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>Szczegóły</h6>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NaglowekPowitalny)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaglowekPowitalny)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrescPowitalna1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrescPowitalna1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrescPowitalna2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrescPowitalna2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CzyAktywny)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CzyAktywny)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.IdPowitania">Edytuj</a> |
    <a class="btn btn-outline-secondary" asp-action="Index">Powrót do listy</a>
</div>
